*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.774);
}

tag{
    display: flex;
    margin: 12.5px 0;
}tag div {
    margin: 12.5px 0 ;
    margin-right: 5px;
    display: flex;
    color: white;
    border-radius: 5px;
    height: 37px;
    vertical-align: middle;
    border-radius: 5px;
}tag div div{
    margin: 0;
    padding: 5px;
}tag div button{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 9px;
    background-color: transparent;
    border: white solid 3px;
    color: white;
    border-radius: 50%;
}tag div button::before{
    position: relative;
    top: -7px;
    content: "x";
}

tag_selector{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    max-width: 667px;
    width: 170px;
    height: 69px;
}tag_selector:hover{
    cursor: pointer;
}tag_selector div{
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    height: 69px;
    padding: 15px;
    border-radius: 5px;
}tag_selector.active{
    display: flex;
    flex-direction: column;
    width: 667px;
}tag_selector.active taglist{
    position: relative;
    border-radius: 0 0 5px 5px;
    padding: 0 19px 19px 19px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
}tag_selector.active taglist button{
    border: none;
    text-align: start;
    width: calc(667-(19*2)/3);
    background-color: transparent;
    color: white;
}tag_selector.active div{
    font-size: 22px;
    border-radius: 5px 5px 0 0;
    width: 667px;
}tag_selector div::after{
    font-size: 22px;
    display: block;
    content: '>';
    transform-origin: center;
    transform: rotate(90deg) scaleY(1.5) scale(0.8);
}tag_selector div input{
    width: 100px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    width: 500px;
    background-color: transparent;
    border: none;
}tag_selector div input:focus{
    border: none;
    outline: none;
}tag_selector.active div::after{
    transform-origin: center;
    transform: rotate(-90deg) scaleY(1.5) scale(0.8);
}